body {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}

@font-face { font-family: ElfBoy; src: url('fonts/elf-boy-classic-font/Elfboyclassic-PKZgZ.ttf'); } 
@font-face { font-family: KarmaS; src: url('fonts/karma/karmasuture.otf'); } 
@font-face { font-family: MC; src: url('fonts/minecraft-font/MinecraftRegular-Bmg3.otf'); } 

/*canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/