@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    display: flex;

    min-height: 100vh;
    background: #f7f7f7;
}

.navigation {
    width: 85px;
    background: #fff;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: -20px 20px 50px rgba(0, 0, 0, 0.05);
    transition: 0.5s;
    overflow: hidden;
    z-index: 3;
}

.navigation.active {
    width: 400px;
}

.navigation .menu_toggle {
    position: relative;
    width: 80px;
    height: 70px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 20px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}


.navigation .menu_toggle::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background: #333;
    transform: translateY(-10px);
    transition: 0.5s;
}

.navigation .menu_toggle::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background: #333;
    transform: translateY(10px);
    transition: 0.5s;
    box-shadow: 0 -10px #333;
}

.navigation.active .menu_toggle::before {
    transform: translateY(0px) rotate(45deg);
}

.navigation.active .menu_toggle::after {
    transform: translateY(0px) rotate(-45deg);
    box-shadow: 0 0 #333;
}

.navigation .profile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 0 10px;
    width: 100%;
}

.navigation .profile .imgBx {
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 50%;
}

.navigation.active .profile .imgBx {
    width: 200px;
    height: 200px;
}

.navigation .profile .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: zoom-in;
}


.navigation .menu {
    position: relative;
    width: 100%;
    padding: 10px;
    transition: 0.5s;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.navigation.active .menu {
    padding: 10px 20px;
}

.navigation .menu li {
    list-style: none;
}

.navigation .menu li p {
    position: relative;
    display: flex;
    text-decoration: none;
    color: #111;
}

a {
    cursor: default;
}

.menu a {
    position: relative;
    display: flex;
    text-decoration: none;
    color: #111;
}

.menu a:hover {
    background: #0084ff;
    color: #fff;
    border-radius: 10px;
}

form a {
    position: relative;
    display: flex;
    text-decoration: none;
    color: #111;
}

form a:hover {
    background: #0084ff;
    color: #fff;
    border-radius: 10px;
}

.navigation .menu li p .icon {
    position: relative;
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.navigation .menu li p .text {
    position: relative;
    height: 60px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
}

.navigation .menu li a .icon {
    position: relative;
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    z-index: 3;

}

.navigation .menu li a .text {
    position: relative;
    height: 60px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    z-index: 3;
}

.navigation .menu li a input {
    opacity: 0;
}

.navigation .menu li a #inner {
    position: absolute;
    min-width: 120px;
    height: 60px;
    z-index: 5;
}





#popup {
    position: relative;
    width: 400px;
    height: 100%;

    text-align: center;
    background-color: #f7f7f7;
    z-index: 3;
}


#popup .choise a {
    display: inline-block;
    display: flex;
    justify-content: center;
}

#popup input:focus {
    border-color: #ff4754;

}

#popup input {
    text-align: center;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.choise a {
    float: left;
    margin-left: 25%;
}









.disp {
    width: 100%;
}

.disp img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 105%;
    transition: 0.5s;
}

.info {
    display: flex;
    margin: auto;
    justify-content: space-around;

}

.info ul {
    z-index: 3;
    margin-left: -7%;
}

.info li {
    list-style: none;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 3;
}

/*.container a {
    margin: auto;
    position: relative;
    display: inline-block;
    padding: 35px 40px 40px 40px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    color: #fff;
    transition: 0.5s;
    height: 90px;
    
}

.container a:nth-child(1) {
    background: linear-gradient(to right, #4481eb, #04befe, #4481eb);
    background-size: 200%;
}

.container a:nth-child(2) {
    background: linear-gradient(to right, #EE82EE, #DA70D6, #FF00FF);
    background-size: 200%;
}


.container a:hover {
    background-position-x: 100%;
}

.container a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, .2);
    border: solid black;
    border-radius: 5%;
}

.container a:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 5%;
    width: 90%;
    height: 4px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transform: scale(0);
    transition: 0.5s;
    filter: blur(5px);
    z-index: -1;
}*/




main {
    margin-top: 20%;
    margin-left: 3%;;
	display: flex;
	flex-direction: column;
	transform: rotatex(5deg);
	animation: rotateAngle 10s linear infinite;
}

button {
	display: block;
	position: relative;
	margin: 0.5em 0;
	padding: .8em 2.2em;
	cursor: pointer;

	background: rgb(255, 255, 255);
	border: none;
	border-radius: .4em;

	text-transform: uppercase;
	font-size: 2.4em;
	font-family: 'Bangers', cursive;
	font-weight: 500;
	letter-spacing: 0.04em;

	mix-blend-mode: color-dodge;
	perspective: 500px;
	transform-style: preserve-3d;
}

	button:before, button:after {
		--z: 0px;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		content: '';
		width: 100%;
		height: 100%;
		opacity: 0;
		mix-blend-mode: inherit;
		border-radius: inherit;
		transform-style: preserve-3d;
		transform: translate3d(
			calc(var(--z) * 0px), 
			calc(var(--z) * 0px), 
			calc(var(--z) * 0px)
		);
	}
	
	span {
		mix-blend-mode: none;
		display: block;
	}
	
	button:after {
		background-color: #5D00FF;
	}
	
	button:before {
		background-color: #FF1731;
	}
	
	button:hover {
		background-color: #FFF65B;
		transition: background .3s 0.1s;
	}
	
	button:hover:before {
		--z: 0.04;
		animation: translateWobble 2.2s ease forwards;
	}
	
	button:hover:after {
		--z: -0.06;
		animation: translateWobble 2.2s ease forwards;
	}


@keyframes rotateAngle {
	0% {
		transform: rotateY(0deg) rotateX(10deg);
		animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
	}
	25% {
		transform: rotateY(20deg) rotateX(10deg);
	}
	50% {
		transform: rotateY(0deg) rotateX(10deg);
		animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
	}
	75% {
		transform: rotateY(-20deg) rotateX(10deg);
	}
	100% {
		transform: rotateY(0deg) rotateX(10deg);
	}
}

@keyframes translateWobble {
  0% {
		opacity: 0;
		transform: translate3d(
			calc(var(--z) * 0px), 
			calc(var(--z) * 0px), 
			calc(var(--z) * 0px)
		);
  }
  16% {
		transform: translate3d(
			calc(var(--z) * 160px), 
			calc(var(--z) * 160px), 
			calc(var(--z) * 160px)
		);
  }
  28% {
		opacity: 1;
		transform: translate3d(
			calc(var(--z) * 70px), 
			calc(var(--z) * 70px), 
			calc(var(--z) * 70px)
		);
  }
  44% {
		transform: translate3d(
			calc(var(--z) * 130px), 
			calc(var(--z) * 130px), 
			calc(var(--z) * 130px)
		);
  }
  59% {
		transform: translate3d(
			calc(var(--z) * 85px), 
			calc(var(--z) * 85px), 
			calc(var(--z) * 85px)
		);
  }
  73% {
		transform: translate3d(
			calc(var(--z) * 110px), 
			calc(var(--z) * 110px), 
			calc(var(--z) * 110px)
		);
  }
	88% {
		opacity: 1;
		transform: translate3d(
			calc(var(--z) * 90px), 
			calc(var(--z) * 90px), 
			calc(var(--z) * 90px)
		);
  }
  100% {
		opacity: 1;
		transform: translate3d(
			calc(var(--z) * 100px), 
			calc(var(--z) * 100px), 
			calc(var(--z) * 100px)
		);
  }
}